@media (max-width: 400px) {
  .css-1r0slc0 {
    width: 100%;
  }
  .css-bjegr8 {
    width: 10rem;
  }
  .css-x4xwoa {
    align-items: center;
  }
  .css-ranqjg {
    padding: 10px 2px;
  }
  .css-1sy2086 {
    width: 70%;
  }
  .css-1sy2086 p {
    font-size: 14px;
  }
  .css-aksn57 {
    padding-left: 0;
    padding-right: 0;
  }
}
